/* =========== Defaults ========== */

/* Variables */
:root {
  --color-black: #ff0000;
  --color-black-lucid: rgba(0, 0, 0, 0.3);
  --color-black-trans: rgba(0, 0, 0, 0);
  --color-white: #ffffff;
  --color-white-lucid: rgba(255, 255, 255, 0.3);
  --color-primary: #ffc701;
  --base-size: 16px;
  --duration: 0.5s;
  --type-head: 'Formula Condensed';
  --type-lead: 'Neue Montreal';
  --type-paragraph: 'Neue Montreal';
}

/* Links */
a:link,
a:visited,
a:hover,
a:active {
  color: var(--color-white);
  text-decoration: none;
}

/* Video */
video {
  width: 100%;
  object-fit: cover;
}

/* Debug */
.debug {
  outline: 1px solid red;
}

html,
body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-family: var(--type-lead);
  font-size: var(--base-size);
  color: var(--color-white);
  background: var(--color-black);
}

/* =========== App ========== */
#app,
.view,
.transition--wrapper {
  height: 100%;
}

/* Header */
.header {
  position: absolute;
  width: 100%;

  height: 64px;
  font-size: 16px;
}

.header {
  z-index: 10;
}

.logo {
  padding: 1.25em 1em;
  font-weight: 500;
  font-size: 18px;
}

.navigation {}

.nav--toggle {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 30;
}

.burger {
  display: none;
}

.burger--toggle {
  width: 32px;
  height: 32px;
  display: block;
  position: relative;
  cursor: pointer;
  padding: 8px 4px;
}

.burger--icon {
  position: relative;
  width: 24px;
  height: 16px;
  display: block;
}

.burger--icon:before,
.burger--icon:after {
  border-top: 2px solid white;
  content: '';
  position: absolute;
  left: 0px;
  right: 0;
}

.burger--icon:before {
  top: 0px;
}

.burger--icon:after {
  bottom: 0px;
}

.back--button {
  width: 32px;
  height: 32px;
  display: block;
  position: relative;
  cursor: pointer;
  padding: 8px 4px;
}

.back--button img {
  position: relative;
  width: 20px;
  height: 20px;
  display: block;
}

/* Burger animation config */
.burger--icon,
.burger--icon:before,
.burger--icon:after {
  transition-property: transform, border-color;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);
}

.burger--icon {
  transition-delay: 0.125s;
}

.burger--icon:before,
.burger--icon:after {
  transition-delay: 0s;
  transform-origin: center;
}

/* Burger animation after checked */
.burger:checked+.burger--toggle .burger--icon {
  transition-delay: 0s;
}

.burgerchecked+.burger--toggle .burger--icon:before,
.burger:checked+.burger--toggle .burger--icon:after {
  transition-delay: 0.025s;
}

.burger:checked+.burger--toggle .burger--icon:before {
  transform: translateY(8px) rotate(135deg);
  border-color: #ffc701;
}

.burger:checked+.burger--toggle .burger--icon {
  border-color: transparent;
}

.burger:checked+.burger--toggle .burger--icon:after {
  transform: translateY(-6px) rotate(-135deg);
  border-color: #ffc701;
}

.nav--overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-black);
  z-index: 20;
}

.nav--overlay__visible {
  display: block;
}

.nav--overlay__hidden {
  display: none;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.menu--list {
  font-family: var(--type-head), sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
}

.menu--list__main {
  padding-top: 3rem;
  font-size: 3.5rem;
  font-weight: 900;
  letter-spacing: 0.05rem;
  text-align: center;
  margin-bottom: 1rem;
}

.list--link {
  opacity: 0.9;
}

.list--link:hover {
  opacity: 1;
}

@keyframes strike {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.strike,
.list--link.active {
  position: relative;
}

.strike::before,
.list--link.active::before {
  content: ' ';
  position: absolute;
  top: 36%;
  left: 0;
  width: 100%;
  height: 0.8rem;
  background: var(--color-primary);
  animation-name: strike;
  animation-duration: 0.25s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  mix-blend-mode: screen;
}

.list--link.active::before {
  background: var(--color-white-lucid);
}

.menu--list__social {
  font-family: var(--type-head), sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 0.05rem;
  margin-bottom: 5rem;
}

.menu--list__social .list--item:first-child {
  padding-left: 0;
}

.menu--list__social .list--item {
  display: inline;
  padding-left: 1em;
}

.menu--list__social .list--item a:hover {
  color: var(--color-primary);
}

.menu--list__credits {
  font-family: var(--type-head), sans-serif;
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 0.05rem;
  margin-bottom: 5rem;
}

.menu--list__credits a {
  color: var(--color-white-lucid);
}

.list--item {}

.list--link {}

.list--link__active {}

/* Home */
.view__home .content {
  position: relative;
  z-index: 5;
  display: flex;
  width: 100%;
  height: 100%;
}

.content {
  z-index: 5;
}

.covers {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.cover--item {
  position: relative;
  width: 100%;
  height: 50%;
  pointer-events: none;
}

.cover--item:hover {}

.cover--item:hover .overlay {
  background: var(--color-black-trans);
}

.cover--item .overlay {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  background-color: var(--color-black-lucid);
  transition: background-color 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.cover--item .overlay--content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.cover--item .overlay--content .overlay--title {
  font-family: var(--type-head), sans-serif;
  font-weight: 900;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-size: 4rem;
  text-align: center;
  width: 100%;
}

.cover--item .overlay--content .overlay--title a {
  pointer-events: auto;
}

.cover--item .overlay--content .overlay--title a:hover {
  display: block;
}

.cover--item .video {
  position: absolute;
  opacity: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.cover--item .video video {
  width: 100%;
  height: 100%;
}

.cover--item .video.is-loaded {
  animation-name: appear;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.cover--item .video--fallback {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Animate in cover video*/
@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.cover--item .preload {
  width: 100%;
  height: 100%;
}

.cover--item .preload--image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cover--item .status {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* loader statusbar */
.status {
  padding-top: 4rem;
}

.status--loader,
.status--loader:before,
.status--loader:after {
  width: 1.5em;
  height: 1.5em;
  animation-fill-mode: both;
  animation: loadanim 1.8s infinite ease-in-out;
}

.status--loader {
  color: #fff;
  font-size: 4px;
  margin: 0 1.5em 3em 3em;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}

.status--loader:before,
.status--loader:after {
  content: '';
  position: absolute;
  top: 0;
}

.status--loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.status--loader:after {
  left: 3.5em;
}

@-webkit-keyframes loadanim {

  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@keyframes loadanim {

  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

/* Projects */
.view__projects .content {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  margin-bottom: 20vh;
}

.projects {}

.projects--splash {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  animation: splashup 500ms ease-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes splashfade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes splashup {
  0% {
    margin-top: 0;
  }

  100% {
    margin-top: -100vh;
  }
}

.projects--splash {
  font-family: var(--type-head), sans-serif;
  font-weight: 900;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-size: 4rem;
}

.projects {
  position: relative;
  z-index: 2;
}

.project--item {
  position: relative;
  width: 80vw;
  min-height: 60vh;
  margin: 20vh 0;
  cursor: pointer;
}

.project--item:hover .overlay {
  background: var(--color-black-trans);
}

.project--item .overlay {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  background-color: var(--color-black-lucid);
  transition: background-color 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.project--item .overlay--content {
  padding-left: 3em;
  position: sticky;
  position: -webkit-sticky;
  padding: 1rem 25% 1rem 1rem;
  color: white;
  top: 50%;
  height: auto;
  display: block;
}

.project--item .overlay--content .overlay--meta {
  margin-bottom: 1em;
  display: flex;
}

.project--item .overlay--content .meta--year {
  padding-right: 1em;
}

.project--item .overlay--content .meta--tags {}

.project--item .overlay--content .meta--tags .tag {
  margin-right: 0.5em;
}

.project--item .overlay--content .tag {
  display: inline;
  border-radius: 2em;
  padding: 0.25em 1em;
  background: var(--color-black);
}

.project--item .overlay--content .overlay--title {
  font-family: var(--type-head), sans-serif;
  font-weight: 900;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-size: 4rem;
  width: 100%;
}

.project--item .overlay--content .overlay--subtitle {
  font-family: var(--type-paragraph), sans-serif;
  font-size: 1.05rem;
  line-height: 1.2;
}

.project--item .overlay--content .overlay--subtitle {
  display: none;
}

.project--item .video {
  position: absolute;
  opacity: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.project--item .video video {
  width: 100%;
  height: 100%;
}

.project--item .video.is-loaded {
  animation-name: appear;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.project--item .video--fallback {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project--item .preload {
  position: absolute;
  width: 100%;
  height: 100%;
}

.project--item .preload--image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.project--item .status {
  position: absolute;
  top: 0em;
  left: 1em;
  padding: 0;
  z-index: 10;
}

/* Project */
.view__project .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 64px;

  z-index: 5;
}

.view__project .content .series {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.view__project .series--controls {
  position: fixed;
  bottom: 2em;
  right: 1em;
  z-index: 6;
  width: 6rem;
  height: 2.5rem;
  font-size: 1.25rem;
  font-family: var(--type-paragraph), sans-serif;
  color: var(--color-white);
  background: var(--color-black);
  text-align: center;
  border: 1px solid var(--color-white-lucid);
  border-radius: 1.5em;
  display: flex;
  justify-content: space-around;
}

.series--control {
  cursor: pointer;
  margin-top: 0.4em;
  width: 1em;
  height: 1em;
}

.series--control.is-disabled {
  cursor: default;
  opacity: 0.2;
}

.view__project .content .video {
  width: 100%;
}

.info--toggle {
  position: fixed;
  bottom: 2em;
  left: 1em;
  z-index: 16;
  width: 6rem;
  height: 2.5rem;
  font-size: 1rem;
  font-family: var(--type-paragraph), sans-serif;
  color: var(--color-white);
  background: var(--color-black);
  text-align: center;
  border: 1px solid var(--color-white-lucid);
  border-radius: 1.5em;
}

.info--toggle {}

.info--toggle:hover {
  border: 1px solid var(--color-white);
}

.info.is-open {
  display: block;
}

.info.is-closed {
  display: none;
}

.info {
  position: absolute;
  background: var(--color-black-lucid);
  min-height: 80vh;
  width: 100%;
  top: 20vh;
  left: 0;
  padding: 1em;
  z-index: 8;
}

.info--title {
  text-transform: uppercase;
  font-family: var(--type-head), -apple-system, BlinkMacSystemFont, Roboto, helvetica neue,
    sans-serif;
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 0.05rem;
}

.info--subtitle {
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 1em;
}

.info--body {
  font-size: 1em;

  margin-bottom: 1em;
}

/* 
.credits {
  padding: 1em;
  border: 1px solid var(--color-white-lucid);
  margin-bottom: 2em;
}

.awards {
  padding: 1em;
  border: 1px solid var(--color-white-lucid);
  margin-bottom: 2em;
}

.credit--item p,
.award--item p {
  font-size: 0.95em;
  line-height: 2em;
} */

/* about */
.about--content {
  padding: 1.5em 1em;
}

.page--title,
.contacts--title,
.awards--title {
  text-transform: uppercase;
  font-family: var(--type-head), -apple-system, BlinkMacSystemFont, Roboto, helvetica neue,
    sans-serif;
  font-weight: 900;
  font-size: 4rem;
  letter-spacing: 0.05rem;
  display: inline-block;
  position: relative;
  margin-bottom: 1rem;
}

.page--title:before {
  content: ' ';
  position: absolute;
  top: 36%;
  left: 0;
  width: 100%;
  height: 0.8rem;
  background: #ffc701;
  animation-name: strike;
  animation-duration: 0.25s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  mix-blend-mode: screen;
}

.page--lead {
  font-family: var(--type-lead), sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.35;
  margin-bottom: 1em;
}

.page--body {
  font-family: var(--type-paragraph), sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.35;
  margin-bottom: 1em;
}

.page--body p {
  margin-bottom: 1em;
}

.page--awards,
.page--contacts {
  margin-top: 3em;
  margin-bottom: 1em;
}

.contacts--item {
  margin-bottom: 2em;
}

.contacts--item h2 {
  font-family: var(--type-paragraph), sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.5em;
}

.contacts--item p {
  font-family: var(--type-paragraph), sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  padding-bottom: 1em;
}

.contacts--item p strong {
  font-weight: 700;
}

.awards--list {
  display: grid;
  grid-template-columns: auto auto;
}

/* =========== Tablet ========== */
@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1024px) {
  :root {
    --base-amount: calc(100vw / 12);
    --base-size: calc(var(--base-amount) / 5) !important;
  }

  html,
  body {
    font-size: var(--base-size);
  }

  /* Home */
  .view__home .content {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .view__home .covers {
    display: flex;
    flex-direction: row;
  }

  .view__home .covers .cover--item {
    transition: width 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    width: 50%;
    height: 100%;
  }

  .view__home .covers .cover--item .overlay--content .overlay--title {
    font-size: 4rem;
  }

  .view__home .covers .cover--item:hover {
    width: 70%;
  }

  .menu--list__main {
    font-size: 6rem;
  }

  .menu--list__social,
  .menu--list__credits {
    font-size: 0.75rem;
  }

  /*projects*/
  .project--item .overlay--content .overlay--subtitle {
    display: initial;
  }

  .project--item .overlay--content .overlay--title {
    font-size: 6rem;
  }

  /*project*/
  .view__project .content .video {
    width: 80%;
    height: 70vh;
  }

  .info.is-open {
    padding: 1rem 8rem;
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
  }

  .info--title {
    max-width: 40vw;
    font-size: 4em;
  }

  .info--subtitle {
    font-family: var(--type-lead), sans-serif;
    font-size: 0.75rem;
    max-width: 40vw;
    font-weight: 700;
  }

  .info--body {
    font-family: var(--type-paragraph), sans-serif;
    max-width: 40vw;
    font-size: 0.75em;
  }

  /*info*/
  .view__page .content {}

  .about--content {}

  .page--lead {
    font-size: 1.8rem;
  }

  .awards--list {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .about--header {
    max-width: inherit;
    position: absolute;
    top: 0;
    left: 0;
    width: 60vw;
  }

  .about--content {
    max-width: inherit;
    padding-top: 65vh;
    max-width: 60vw;
  }

  .page--contacts {
    position: absolute;
    top: 0;
    right: 0;
    width: 35vw;
    padding-right: 4em;
  }
}

/* =========== Widescreen ========== */
@media only screen and (min-width: 1920px) {

  html,
  body {
    font-size: 32px;
  }

  /* Home */
  .view__home .content {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .view__home .covers {
    display: flex;
    flex-direction: row;
    max-width: 90vw;
    max-height: 85vh;
  }

  .view__home .covers .cover--item {
    transition: width 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    width: 50%;
    height: 100%;
  }

  .view__home .covers .cover--item:hover {
    width: 70%;
  }

  /*projects*/
  .overlay--title {
    font-size: 6rem;
  }

  /*project*/
  .view__project .content .video {
    width: 80%;
    height: 70vh;
    object-fit: contain;
  }

  /*info*/
  .info--title {
    font-size: 4em;
  }

  .info--subtitle {
    font-size: 0.75rem;
    font-weight: 700;
  }

  .info--body {
    font-size: 0.75rem;
  }

  /*info*/
  .view__page .content {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
  }

  .about--header {
    max-width: inherit;
    position: absolute;
    top: 0;
    left: 0;
    width: 60vw;
  }

  .about--content {
    max-width: inherit;
    padding-top: 90vh;
    max-width: 60vw;
  }

  .page--contacts {
    position: absolute;
    top: 0;
    right: 0;
    width: 35vw;
    padding-right: 4em;
  }
}
