/* =========== Defaults ========== */

/* Variables */
:root {
  --color-black: #000000;
  --color-black-lucid: rgba(0, 0, 0, 0.3);
  --color-black-trans: rgba(0, 0, 0, 0);
  --color-white: #ffffff;
  --color-white-lucid: rgba(255, 255, 255, 0.3);
  --color-primary: #FFC701;
  --base-size: 16px;
  --duration: 0.5s;
  --type-primary: 'Formula Condensed';
}

/* Links */
a:link,
a:visited,
a:hover,
a:active {
  color: var(--color-white);
  text-decoration: none;
}

/* Video */
video {
  width: 100%;
  object-fit: cover;
}

/* Debug */
.debug {
  outline: 1px solid red;
}

html,
body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-family: 'Neue Montreal';
  font-size: var(--base-size);
  color: var(--color-white);
  background: var(--color-black);
}

/* =========== App ========== */

#app,
.view,
.transition--wrapper {
  height: 100%;
}

/* Header */
.header {
  position: absolute;
  width: 100%;
  z-index: 10;
  height: 64px;
  font-size: 16px;
}

.logo {
  padding: 1.25em 1em;
  font-weight: 500;
  font-size: 18px;
}

.navigation {}

.nav--toggle {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 30;
}

.burger {
  display: none;
}

.burger--toggle {
  width: 32px;
  height: 32px;
  display: block;
  position: relative;
  cursor: pointer;
  padding: 8px 4px;
}

.burger--icon {
  position: relative;
  width: 24px;
  height: 16px;
  display: block;
}

.burger--icon:before,
.burger--icon:after {
  border-top: 2px solid white;
  content: '';
  position: absolute;
  left: 0px;
  right: 0;
}

.burger--icon:before {
  top: 0px;
}

.burger--icon:after {
  bottom: 0px;
}

/* Burger animation config */
.burger--icon,
.burger--icon:before,
.burger--icon:after {
  transition-property: transform, border-color;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);
}

.burger--icon {
  transition-delay: 0.125s;
}

.burger--icon:before,
.burger--icon:after {
  transition-delay: 0s;
  transform-origin: center;
}

/* Burger animation after checked */
.burger:checked+.burger--toggle .burger--icon {
  transition-delay: 0s;
}

.burgerchecked+.burger--toggle .burger--icon:before,
.burger:checked+.burger--toggle .burger--icon:after {
  transition-delay: 0.025s;
}

.burger:checked+.burger--toggle .burger--icon:before {
  transform: translateY(8px) rotate(135deg);
  border-color: #ffc701;
}

.burger:checked+.burger--toggle .burger--icon {
  border-color: transparent;
}

.burger:checked+.burger--toggle .burger--icon:after {
  transform: translateY(-6px) rotate(-135deg);
  border-color: #ffc701;
}

.nav--overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-black);
  z-index: 20;
}

.nav--overlay__visible {
  display: block;
}

.nav--overlay__hidden {
  display: none;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.menu--list {
  font-family: 'Formula Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
}

.menu--list__main {
  padding-top: 3rem;
  font-size: 3.5rem;
  font-weight: 900;
  letter-spacing: 0.05rem;
  text-align: center;
  margin-bottom: 1rem;
}

.list--link {
  opacity: .9;
}

.list--link:hover {
  opacity: 1;
}

@keyframes strike {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.strike {
  position: relative;
}

.strike::before {
  content: ' ';
  position: absolute;
  top: 36%;
  left: 0;
  width: 100%;
  height: 0.8rem;
  background: #ffc701;
  animation-name: strike;
  animation-duration: 0.25s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  mix-blend-mode: screen;
}


.menu--list__social {
  font-weight: 400;
  letter-spacing: 0.05rem;
  margin-bottom: 5rem;
}

.menu--list__social .list--item {
  display: inline;
  padding-right: 1em;
}

.menu--list__social .list--item:last-child {
  padding-right: none;
}

.menu--list__social .list--item a:hover {
  color: var(--color-primary);
}

.menu--list__credits {
  position: absolute;
  bottom: 2em;
}

.menu--list__credits a {
  color: var(--color-white-lucid);
}

.list--item {}

.list--link {}

.list--link__active {}



/* Home */
.view__home .content {
  display: flex;
  width: 100%;
  height: 100%;
}

.covers {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.cover--item {
  position: relative;
  width: 100%;
  height: 50%;
  pointer-events: none;
}

.cover--item:hover {}

.cover--item:hover .overlay {
  background: var(--color-black-trans);
}

.cover--item .overlay {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  background-color: var(--color-black-lucid);
  transition: background-color 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.cover--item .overlay--content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.cover--item .overlay--content .overlay--title {
  font-family: 'Formula Condensed', sans-serif;
  font-weight: 900;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-size: 4rem;
  text-align: center;
  width: 100%;
}

.cover--item .overlay--content .overlay--title a {
  pointer-events: auto;
}

.cover--item .overlay--content .overlay--title a:hover {
  display: block;
}

.cover--item .video {
  position: absolute;
  opacity: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.cover--item .video video {
  width: 100%;
  height: 100%;
}

.cover--item .video.is-loaded {
  animation-name: appear;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* Animate in cover video*/
@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.cover--item .preload {
  width: 100%;
  height: 100%;
}

.cover--item .preload--image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cover--item .status {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* loader statusbar */
.status {
  padding-top: 4rem;
}

.status--loader,
.status--loader:before,
.status--loader:after {
  width: 1.5em;
  height: 1.5em;
  animation-fill-mode: both;
  animation: loadanim 1.8s infinite ease-in-out;
}

.status--loader {
  color: #fff;
  font-size: 4px;
  margin: 0 1.5em 3em 3em;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}

.status--loader:before,
.status--loader:after {
  content: '';
  position: absolute;
  top: 0;
}

.status--loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.status--loader:after {
  left: 3.5em;
}

@-webkit-keyframes loadanim {

  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@keyframes loadanim {

  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

/* Projects */
.view__projects .content {
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  margin-bottom: 20vh;
}

.projects {}

.projects--splash {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.projects--splash {
  font-family: 'Formula Condensed', sans-serif;
  font-weight: 900;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-size: 4rem;
}

.projects {
  position: relative;
  z-index: 2;
}

.project--item:first-child {
  margin: 0 0 20vh 0;
}

.project--item {
  position: relative;
  width: 80vw;
  min-height: 60vh;
  margin: 20vh 0;
}

.project--item:hover .overlay {
  background: var(--color-black-trans);
}

.project--item .overlay {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  background-color: var(--color-black-lucid);
  transition: background-color 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.project--item .overlay--content {
  padding-left: 3em;
  position: sticky;
  position: -webkit-sticky;
  padding: 1rem 25% 1rem 1rem;
  color: white;
  top: 50%;
  height: auto;
  display: block;
}

.project--item .overlay--content .overlay--title {
  font-family: 'Formula Condensed', sans-serif;
  font-weight: 900;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-size: 4rem;
  width: 100%;
}

.project--item .video {
  position: absolute;
  opacity: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.project--item .video video {
  width: 100%;
  height: 100%;
}

.project--item .video.is-loaded {
  animation-name: appear;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.project--item .preload {
  position: absolute;
  width: 100%;
  height: 100%;
}

.project--item .preload--image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.project--item .status {
  position: absolute;
  top: 0em;
  left: 1em;
  padding: 0;
  z-index: 10;
}




/* =========== Tablet ========== */
@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1024px) {

  :root {
    --base-amount: calc(100vw / 12);
    --base-size: calc(var(--base-amount) / 5);
  }

  /* Home */
  .view__home .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .view__home .covers {
    display: flex;
    flex-direction: row;
  }

  .view__home .covers .cover--item {
    width: 50%;
    height: 100%;
    overflow: hidden;
  }

  .menu--list__main {
    font-size: 6rem;
  }

  .menu--list__social,
  .menu--list__credits {
    font-size: 0.8rem;
  }
}

/* =========== Widescreen ========== */
@media only screen and (min-width: 1920px) {

  /* Home */
  .view__home .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .view__home .covers {
    display: flex;
    flex-direction: row;
    max-width: 90vw;
    max-height: 85vh;
  }

  .view__home .covers .cover--item {
    transition: width 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    width: 50%;
    height: 100%;
  }

  .view__home .covers .cover--item:hover {
    width: 70%;
  }


  .menu--list__social,
  .menu--list__credits {
    font-size: 0.6rem;
  }
}
