/* =========== Defaults ========== */

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --base-size: 16px;
  --duration: 0.5s;
  --type-primary: 'Neue Machina';
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--color-white);
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  height: 100%;
  font-size: var(--base-size);
  color: var(--color-white);
  background: var(--color-black);
}

/* =========== App ========== */

#app,
.view {
  height: 100%;
}

.header {}

.content {}

/* Home */
.view__home .content {
  display: flex;
  height: 100%;
  width: 100%;
}

.view__home .splash {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.view__home .cover {
  position: relative;
  width: 100%;
  height: 50%;
}

.cover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay--title {
  font-family: 'Neue Machina', -apple-system, BlinkMacSystemFont, Roboto, helvetica neue, sans-serif;
  font-weight: 700;
  font-size: 3em;
}

.overlay--title a {
  text-decoration: none;
}

.cover .video {
  /* position: absolute;
  top: 0;
  left: 0;

  z-index: 8; */
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
}

.video .video--player {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cover .video.is-loaded {
  opacity: 1;
}

/* Projects */
.view__projects .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view__projects .cover {
  position: relative;
  width: 80vw;
  min-height: 60vh;
  margin: 20vh 0;
}

.view__projects .cover .overlay {
  justify-content: left;
  padding-left: 3em;

  position: sticky;
  position: -webkit-sticky;
  padding: 1rem 25% 1rem 1rem;
  color: white;
  top: 75vh;
}

.footer {}



/* =========== Tablet ========== */
@media only screen and (min-width: 768px) {

  /* Home */
  .view__home .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .view__home .splash {
    display: flex;
    flex-direction: row;
  }

  .view__home .splash .cover {
    width: 50%;
    height: 100%;
    overflow: hidden;
  }


}

/* =========== Widescreen ========== */
@media only screen and (min-width: 1920px) {

  /* Home */
  .view__home .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .view__home .splash {
    display: flex;
    flex-direction: row;
    max-width: 90vw;
    max-height: 90vh;
  }

  .view__home .splash .cover {
    width: 50%;
    height: 100%;
  }


}
