/* =========== Defaults ========== */

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --base-size: 16px;
  --duration: 0.5s;
  --type-primary: 'Neue Machina';
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--color-white);
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  height: 100%;
  font-size: var(--base-size);
  color: var(--color-white);
  background: var(--color-black);
}

/* =========== App ========== */

#app,
.view {
  height: 100%;
}

.header {}

.logo {
  z-index: 10;
  position: fixed;
  top: 1em;
  left: 50%;
  transform: translate(-50%, 0);
}

.navigation {}

.view__home .navigation,
.view__project .navigation {
  display: none;
}

.nav__commercial {
  position: fixed;
  top: 50%;
  left: 1em;
  z-index: 10;
  transform-origin: 0, 0;
  transform: rotate(-90deg) translate(-50%, 0);
}

.nav__tv-film {
  position: fixed;
  top: 50%;
  right: 1em;
  z-index: 10;
  transform-origin: 0, 0;
  transform: rotate(90deg) translate(50%, 0);
}

.nav__about {
  position: fixed;
  left: 50%;
  bottom: 1em;
  z-index: 10;
  transform-origin: 0, 0;
  transform: translate(-50%, 0);
}

.content {}

/* Home */
.view__home .content {
  display: flex;
  height: 100%;
  width: 100%;
}

.view__home .splash {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.view__home .cover {
  position: relative;
  width: 100%;
  height: 50%;
}

.view__home .cover .overlay {
  height: 100%;
}

.cover {
  background: red;
  cursor: pointer;
}

.cover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0;
}

.overlay--title {
  font-family: 'Neue Machina', -apple-system, BlinkMacSystemFont, Roboto, helvetica neue, sans-serif;
  font-weight: 700;
  font-size: 3em;
}

.overlay--title a {
  text-decoration: none;
}

.cover .video {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 8;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
}

.video .video--player {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video .video--player video {
  object-fit: cover;
}

.cover .video.is-loaded {
  opacity: 1;
}

.cover .video.is-unavailable {
  min-height: 60vh;
  height: auto;
}

.cover .overlay--controls {
  text-transform: lowercase;
}

.cover .control--info {
  text-decoration: none;
}

.cover .control--play {
  text-decoration: none;
  padding-right: 1em;
}

/* Projects */
.view__projects .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view__projects .cover {
  position: relative;
  width: 80vw;
  min-height: 60vh;
  margin: 20vh 0;
}

.view__projects .cover .overlay {
  justify-content: left;
  padding-left: 3em;

  position: sticky;
  position: -webkit-sticky;
  padding: 1rem 25% 1rem 1rem;
  color: white;
  top: 50%;
}

.footer {}

/* Project */
.view__project .footer {
  display: none;
}

.view__project .info {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vh;
  opacity: 0;
}

.view__project .info.is-open {
  opacity: 1;

  z-index: 12;
}

.info--toggle {
  position: fixed;
  left: 50%;

  bottom: 2em;
  transform: translateX(-50%);
  z-index: 10;
}

/* =========== Video Player Component ========== */
.carousel-slide {
  flex: '0 0 100%';
}

.slidecontrols {}

.slidenav {
  width: 64px;
  height: 64px;
  cursor: pointer;
}

.slidenav.is-disabled {
  opacity: 0.3;
  cursor: default;
}

.slidenav__prev {
  position: fixed;
  top: 50%;
  left: 1em;
  z-index: 10;
  transform-origin: 0, 0;
}

.slidenav__next {
  position: fixed;
  top: 50%;
  right: 1em;
  z-index: 10;
  transform-origin: 0, 0;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
  /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

/* =========== Tablet ========== */
@media only screen and (min-width: 768px) {

  /* Home */
  .view__home .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .view__home .splash {
    display: flex;
    flex-direction: row;
  }

  .view__home .splash .cover {
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
}

/* =========== Widescreen ========== */
@media only screen and (min-width: 1920px) {

  /* Home */
  .view__home .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .view__home .splash {
    display: flex;
    flex-direction: row;
    max-width: 90vw;
    max-height: 90vh;
  }

  .view__home .splash .cover {
    width: 50%;
    height: 100%;
  }
}
